@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../font/Roboto-Thin.woff') format('woff');
  src: url('../font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../font/Roboto-Light.woff') format('woff');
  src: url('../font/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/Roboto-Regular.woff') format('woff');
  src: url('../font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/Roboto-Medium.woff') format('woff');
  src: url('../font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/Roboto-Bold.woff') format('woff');
  src: url('../font/Roboto-Bold.ttf') format('truetype');
}

body {
  background-color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#logo {
  background-image: url(/src/img/google-logo.png) ;
  background-repeat: no-repeat;
  height: 36px;
  left: 33px;
  opacity: 0.7;
  position: absolute;
  top: 22px;
  width: 150px;
  z-index: 10;
}

#main {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 11;
}

#container {
  display: table-row;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#box-left {
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #999;
}

#box-right {
  display: table-cell;
  vertical-align: middle;
  padding-right: 46px;
  width: 40%;
}

#time {
  font-size: 186.6px;
  font-weight: 100;
  line-height: 186.6px;
}

#ampm {
  font-size: 34px;
  font-weight: 100;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

#date {
  font-size: 24px;
  font-weight: 100;
  line-height: 14px;
  text-transform: uppercase;
}


